/* styles.css - Challenge #1 (Skeleton) */
* {
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(80, 80, 80);
    margin: 0;
}

body{
    background-color: rgb(207, 233, 255);
    height: 100vh;
    min-width: 300px;
}

.container{
    padding-left: 4%;
    padding-right: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    height: 100%;
}

.site-header {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

h1 {
    font-weight: bold;
    font-size: clamp(2rem, 6vw, 4rem);
    color: palevioletred;
    text-align: center;
}

.park-name {
    color: palevioletred;
}

.tagline {
    font-style: italic;
    font-size: small;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px
}

#mascot-image{
    width: 90%;
}

.hero {
    display: flex;
    justify-content: center;
}

.mascot-placeholder {
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    border: solid 2px black;
    max-width: 250px;
    min-width: 200px;
    width: 50%;
}


.about {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 30px;
}

.actions {
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 100%;
    flex-wrap: wrap;
}

.actions button {
    width: 180px;
    color: white;
    font-weight: bold;
    font-size: medium;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 12px;
}

.buy-tickets {
    background-color: rgb(138, 208, 32);
    box-shadow: 0 0 8px blue;

}

.buy-tickets:hover{
    transform: translateY(-2px);
    background-color: rgb(131, 191, 40);
}

.make-donation {
    background-color: rgb(29, 29, 172);
    box-shadow: 0 0 8px palevioletred;
}

.make-donation:hover{
    transform: translateY(-2px);
    background-color: rgb(3, 3, 135);
}

.site-footer {
    font-size: small;
    width: 100%;
    border-top: 1px gray solid;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    margin-top: auto;
    margin-bottom: 2%;
}